set -e

# Try to suppress direnv warnings
export DIRENV_WARN_TIMEOUT=1m
DIRENV_WARN_TIMEOUT=1m

# Automatically create venv if it does not exist
if [ ! -d ".venv" ] ; then
    # Create new venv
    echo "Creating Python venv $(python3 -V)"
    python3 -m venv .venv

    echo -n "Activating venv ..."
    source .venv/bin/activate

    echo "This is new venv so installing Poetry dependency management..."
    pip install --quiet setuptools poetry
    echo ""
else
    # Activate existing venv
    echo -n "Activating venv ..."
    source .venv/bin/activate
fi

# Print Python version and show its path.
echo " [$(python -V)] activated. "
echo "Using it from [$(which python)]"

unset PS1
